.modal{
    transition: all ease 0.8s;
    width: 800px;
    height: 800px;
    overflow: hidden;

}

.container{
    max-width: 1100px;
    margin: 0 auto;

}

.open{
    border: 1px solid #000;
    border-radius: 20px;
    transform: translateY(0)
    ;
    transform: translateX(100px)
    ;
}
.close{
    transform: translateY(-200px) translateX(100px);
}
